.conatiner {
    height: 100vh;
    width: 100%;
    background-image: url("../../assests/images/Home.svg");
    background-position: center;
    padding-top: 54px;
    position: relative;
}

.temperatureConatiner {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
}

.temperatureConatiner span:nth-child(1) {
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}

.temperatureConatiner span:nth-child(2) {
    font-weight: 300;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}
.temperatureConatiner span:nth-child(5){
    font-weight: 500;
    font-size: 20px;
    color: white;

}
.temperatureConatiner span:nth-child(3) {
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.38px;
    /* color: rgba(235, 235, 245, 0.6); */
    color: white;
}

.temperatureConatiner span:nth-child(4) {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}

.bottomSheet {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    background: linear-gradient(143.23deg, rgba(46, 51, 90, 0.2) 8.21%, rgba(28, 27, 51, 0.2) 80.43%);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 44px 44px 0px 0px;
    animation: smoothScaleReverse 0.5s linear;

}

@keyframes smoothScaleReverse {
    from {
        height: 85%;
    }

    to {
        height: 40%;
    }
}

.bottomSheetScale {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 85%;
    width: 100%;
    background: linear-gradient(143.23deg, rgba(46, 51, 90, 0.2) 8.21%, rgba(28, 27, 51, 0.2) 80.43%);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 44px 44px 0px 0px;
    animation: smoothScale 0.5s linear;
}

@keyframes smoothScale {

    from {
        height: 40%;
    }

    to {
        height: 85%;
    }
}


.chip {
    height: 49px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    position: relative;
}

.chip span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(235, 235, 245, 0.6);
    padding: 0px 32px;
}

.pick {
    width: 48px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: calc(50% - 24px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.btnContainer {
    height: calc(100% - 49px);
    background-color: transparent;
    display: flex;
    gap: 10px;
    padding: 20px;
    overflow-x: scroll;
}

.tempAboutContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 10px;
    height: 146px;
    background: rgba(72, 49, 157, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px #FFFFFF;
    border-radius: 30px;
}

.tempAboutContainer span,
.tempAboutContainer img {
    flex: 1;
}

.tempAboutContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:500px) {
    .conatiner {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    } 

}